
{% do assets.addCss('page://banner-special-price.css', { priority: 20, position: 'before'}) %}

  <div class="special-pricing {{wrap}}">
    <img alt="Special Pricing"
      src="https://clean.email/user/pages/03.plans/graduation-lady.svg">
    <div class="contents-vertically-centered">
      <h2 class="h4">Special Pricing</h2>
      <p>We offer discounts for education and non-profits and special bulk pricing for organizations</p><a
        href="mailto:kate@clean.email">Email us for a quote</a>
    </div>
  </div>

